/* You can add global styles to this file, and also import other style files */

.navbar-nav>li>a,
.navbar-brand,
.navbar-text {
  color: #cccccc;
}
.navbar-nav>li>a.active{
  color: lightblue;
}

.container-fluid{
  color: lightblue;
}

.navbar .navbar-brand{
  background-color: lightblue;
}
.nav-navbar-nav{
  background-color: lightblue;
}

.navbar-nav>li>a.active {
  color: white;
}

.navbar {
  border-radius: 0px;
  border-color: black;
  background-color: lightblue;
  color: lightblue;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
