<div class="row">
  <div class="col-xs-10">
    <app-fav-album-edit></app-fav-album-edit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item clearfix"
        style="cursor: pointer"
        *ngFor="let album of albums; let i = index"
        (click)="onEditItem(i)"
      >
    <div class="pull-left">
    <h4 class="list-group-item-heading">{{ artist?.album?.name }}</h4>
    <p class="list-group-item-text">{{ artist?.album?.year }}</p>
  </div>
    <span class="pull-right">
    <img
      [src]="artist?.imagePath"
      alt="{{ artist?.name }}"
      class="img-responsive"
      style="max-height: 50px;">
    </span>
      </a>
    </ul>
  </div>
</div>
